[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
neo4j = "*"
streamlit-folium = "*"
streamlit-js-eval = "*"
folium = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
